@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  background: #8cc461;
  font-size: 60.5%;
  box-sizing: border-box;
  color: white;
}
/* html, #scoreBox {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#scoreBox {
    
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 13px;
  width: 80.0rem;
  height: 17.6rem;
  margin: 6.2rem 22rem;
  padding: 2rem; */
/* } */

html, body {
    width: 100%;
    height: 100%;
   
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    position: relative;
    margin: 2rem;
    padding-top: 6.2rem;

  }
  
  #scoreBox {
    position: absolute;
    margin-top: 6.2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    border: 2px solid #ffffff;
    border-radius: 13px;
    width: 80.0rem;
    height: 17.6rem;
    padding: 2rem;
  }
  
.game-option{
    
    margin: 0;
    font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.7rem;
  letter-spacing: 0.1em;
  padding-right: 21rem;
}

#scoreBoxes {
  text-align: center;
  display: flex;
  margin-left: auto;
}

#score_Computer,
#score_Yourscore {
    box-sizing: border-box;
    width: 13.9rem;
height: 13.2rem;
  background-color: #ffffff;
  color: black;
  /* border: 2px solid white; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #656565;
  border-radius: 9px;
  padding-top: 1.4rem;
}

#score_Yourscore {
  margin-left: 2.9rem;
}

span{
    width: 7.9rem;
    height: 5.3rem;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    background-color: white;
    color: #252525;
}

