/* .container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    color: #333;
  }
  
  .description {
    font-size: 14px;
    color: #777;
  }
   */
  .container {
    width: 80px;
    margin: 110 auto;
    padding: 20px;
    background-color: aqua;
  }
  
  .title {
    font-size: 24px;
    color: #333;
  }
  
  .main-title {
    font-weight: bold;
  }
  
  .description {
    font-size: 14px;
    color: #777;
  }
  