@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#second-line-of-the-main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25rem;
}

#emptybox,
#middle-part,
#third-part {
  width: 40rem;
  height: 50rem;
  margin: 1rem;
}
#middle-part {
}

#third-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: rem;
  position: relative;
}
#div-for-x,
#game-rules-part {
  width: 27.8rem;
  height: 35.5rem;
  /* position: absolute; */
}
#div-for-x {
}
#x {
  width: 5rem;
  height: 5rem;
  border: 0.7rem solid white;
  border-radius: 50%;
  font-family: "Dangrek";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  background-color: #ff0000;
  line-height: 2.8rem;
  text-align: center;
  position: absolute;
  z-index: 5;
  right: -3rem;
  top: -7rem;
}

#game-rules-part {
  box-sizing: border-box;

  position: relative;
  /* left: 96.4rem;
    top: 39rem; */
  background: #004429;
  border: 7px solid #ffffff;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

h1 {
  margin-top: 2.5rem;
  margin-bottom: 2.8rem;
  background: #004429;
  width: 15.6rem;
  height: 2.7rem;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2.9rem;
  line-height: 3.4rem;
  color: #ffffff;
}
#d11,
#d22,
#d33,
#d44 {
  background-color: #004429;

  display: flex;*
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#d1,
#d2,
#d3,
#d4 {
  /* position: absolute; */
  width: 8px;
  height: 8px;
  margin-right: 1.1rem;
  background: #ffd600;
}
#r1,
#r2,
#r3,
#r4 {
  background: #004429;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
}
p#r1 {
  /* position: absolute; */
  width: 21.1rem;
  height: 2.7rem;
}

p#r2 {
  width: 21.6rem;
  height: 4.3rem;
}

p#r3 {
  width: 21.1rem;
  height: 3.7rem;
}

p#r4 {
  width: 21.6rem;
  height: 4.8rem;
}

#rules {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  width: 119px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
  right: -3rem;
  top: 37rem;
  line-height: 3.8rem;
}
